<center>
<% if @user %>
  <h1> <%= "Welcome, #{@user.name}!"  %> </h1>
<% end %>
</center>

<div class="jumbotron jumbotron-fluid">

<div class="container">
  <p class="display-1">
    <ul>
    <% @listings.each do |listing| %>
      <li> <%= "#{listing.listing_title}:
                #{listing.listing_description} |
                £#{listing.listing_price}
                | from: #{listing.listing_start_date}
                to: #{listing.listing_end_date}
                | #{listing.listing_owner}" %>
      </li>
    </p>
    <% if @user %>
    <form action="/requests" method="post">
      <input type="hidden" name="title" value="<%= listing.listing_title %>">
      <input type="hidden" name="listing_id" value="<%= listing.listing_id %>">
      <input type="submit" value="Request apartment">
    </form>
    <% end %>
  <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 m-auto">
      <div id="slider4" class="carousel slide mb-5" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://img.thetiscdn.it/uploads/imgup/28831it-london-garden-villa03.jpg" alt="First Slide">
            <div class="carousel-caption d-none d-md-block">
              <br>
            </div>
          </div>
        </div>
        <center>
          <br></br>
          <div>
            <h1><a href="/">Makersbnb</a></h1>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-columns"></div>
</div>

<script>
  $('.carousel').carousel({
    interval: 3000,
    keyboard: true,
    pause: 'hover',
    wrap: true
  });

  $('#slider4').on('slide.bs.carousel', function () {
    console.log('SLIDE!');
  });

  $('#slider4').on('slid.bs.carousel', function () {
    console.log('SLID!');
  });
</script>
