<% if @user %>
<form action="/listings/new" method="post">
    <p>title:</p>
    <input type="text" name="title">
    <p>owner:</p>
    <input type="text" name="owner">
    <p>price: </p>
    <input type="text" name="price">
  </label>
  <input type="submit" value="Submit">
</form>
<% else %>
<h3>You have to be logged in before you can list an apartment</h3>
<a href='/'>Sign up here</a>
<% end %>
