<% if @user %>
<header class="new-listing-header">
<h2>Welcome <%=@user.email%> </h2>
</header>
<center>
<form action="/listings/new" method="post">
    <p>title:</p>
    <input type="text" name="title">
    <p>price: </p>
    <input type="text" name="price">
    <p>description: </p>
    <input type="text" name="description">
    <p>start date: </p>
    <input type="date" name="start_date">
    <p>end date: </p>
    <input type="date" name="end_date">
  </label>
  <center>
  <input type="submit" value="Submit">
</center>
</form>
</center>
<% else %>
<h3>You have to be logged in before you can list an apartment</h3>
<a href='/'>Sign up here</a>
<% end %>

<center>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out">
</form>
</center>
