<% if @user %>
<h2>Welcome <%=@user.email%> </h2>
<form action="/listings/new" method="post">
    <p>title:</p>
    <input type="text" name="title">
    <p>owner:</p>
    <input type="text" name="owner">
    <p>price: </p>
    <input type="text" name="price">
    <p>description: </p>
    <input type="text" name="description">
    <p>available dates: </p>
    <input type="text" name="available_dates">
  </label>
  <input type="submit" value="Submit">
</form>
<% else %>
<h3>You have to be logged in before you can list an apartment</h3>
<a href='/'>Sign up here</a>
<% end %>

<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign out">
</form>
