<ul>
  <% @listings.each do |listing| %>
    <li> <%= "title: #{listing.listing_title}, owner: #{listing.listing_owner}, price: £#{listing.listing_price}" %> </li>
  <% end %>
</ul>

<form action="/" method="post">
    <p>title:</p>
    <input type="text" name="title">
    <p>owner:</p>
    <input type="text" name="owner">
    <p>price: </p>
    <input type="text" name="price">
  </label>
  <input type="submit" value="Submit">
</form>
