<form action="/signup" method="post">
  <p>
    <label name="name">
      name:
      <input type="name" name="name">
    </label>
  </p>

  <p>
    <label name="email">
      email:
      <input type="email" name="email">
    </label>
  </p>

  <p>
    <label name="password">
      password:
      <input type="password" name="password">
    </label>
  </p>
  <input type="submit" value="Submit">
</form>